p * {
	background-color: grey;
	position: relative;
}

.row1 {
	top: 0%;
}

.row2 {
	top: 15%;
}

.row3 {
	top: 30%;
}

.row4 {
	top: 45%;
}

.row5 {
	top: 60%;
}

.row6 {
	top: 75%;
}

.col1 {
	left: 2%;
}

.col2 {
	left: 4%;
}

.col3 {
	left: 6%;
}

.col4 {
	left: 8%;
}

.col5 {
	left: 10%;
}

