
body,button {
	font-family: "Raleway", sans-serif;
	font-weight: normal;
}

button {
	padding: 10px 24px;
	width: 300px;
	height: 150px;
	border-radius: 12px;
	font-size: 36px;
	color: #008CBA;
	border-color: #008CBA;
}

body {
    position: static;
    height: 90%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
	font-size: 48px;
	bottom: 10px;
}

input[type=text] {
	width: 90%;
	font-size: 20px;
}

label {
	display: inline-block;
}

textarea {
	font-style: 20px;
}

.objects {
	color: #9966ff;
}

/*For image counter*/
#counter {
	color: #9966ff;
	font-weight: bold;
}

.buttonname {
	color: grey;
}

.chcount {
	font-size: 20px;
	color: grey;
	font-style: italic;
}

.test-text {
	color: #ff6666;
}

.train-text {
	color: #33cc33;
}

/*For subset selection*/
.image-checkbox
{
	cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: 0;
}

.image-checkbox input[type="checkbox"]
{
	display: none;
}

.image-checkbox-checked
{
	outline: 4px solid #33cc33;
}

.imgselect {
	padding: 5px;
}

/*For progress bar*/
.grid-container {
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	background-color: #2196F3;
}
.grid-item {
	background-color: #e6fff2;
	border: 2px solid #00994d;
	padding: 20px;
	font-size: 30px;
	text-align: center;
}

#curr-screen {
	background-color: #00cc66;
	border: 2px solid #00994d;
	padding: 20px;
	font-size: 30px;
	text-align: center;
}